# dev/build outputs
.output
.data
.cache
dist
*.tgz
temp
CHANGELOG.md

# Node dependencies
node_modules
pnpm-lock.yaml
pnpm-workspace.yaml

# Logs
logs
*.log

# Misc
.DS_Store

# Local env files
.env
.env.*
!.env.example

# Biome
**/*.css
**/*.js
**/*.ts
**/*.cjs
**/*.mjs
**/*.cts
**/*.mts
**/*.jsx
**/*.tsx
